.base-section {
    // background-size: cover;
    // background-position: center center;
}

.base-section.base-section-has-background-element {
    position: relative;

    .base-section-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .base-background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .base-section-container {
        position: relative;
    }
}